extends layout

block content
  .container
  .col-12
  .card.card-block.bg-faded
    blockquote.blockquote
      p.mb-0
        | #{article.title}
      footer.blockquote-footer
        | #{author}
  p= article.body
  hr
  if user
    if user.id ==article.author
      a.btn.btn-primary(href='/articles/edit/'+article._id) Edit 
      a.btn.btn-danger.delete-article(href='#',data-id=article._id) Delete
  
