extends layout

block content
  h1 #{title}
  ul.list-group
    each article, i in articles
      li.list-group-item
        a(href="/articles/"+article._id)= article.title
  h1 Images
  ul.list-group
   li.list-group-item
     a(href='/uploads/myImage-1517041029828.jpg') image1
   li.list-group-item
     a(href='/uploads/myImage-1517042227535.jpg') image2
