extends layout

block content
  h1(style='font-family:Georgia;text-align:center;font-size:35px') #{title}
  ul.list-group
    each article, i in articles
      li.list-group-item
        a(href="/articles/"+article._id)= article.title
  h1(style='font-family:Georgia;text-align:center;font-size:35px') Images
  ul.list-group
   li.list-group-item
     a(href='/uploads/myImage-1517065381900.jpg') image1
   li.list-group-item
     a(href='/uploads/myImage-1517065449622.jpg') image2
