extends layout

block content
  h1 Login
  form(method='POST', action='/users/login')
    #form-group
      label Username:
      input.form-control(name='username',type='text')
    #form-group
      label Password:
      input.form-control(name='password',type='password')
    br
    .container
    input.btn.btn-success(type='submit',value='Submit')
    br
    h3 Sign in using!
    a.btn.btn-social-icon.btn-facebook(href='/auth/facebook')
     i.fa.fa-facebook